::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: #2C3E50;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #179070;
}

body {
    overflow-x: hidden !important;

}

html {
    overflow-x: hidden !important;

    @include breakpoint(smlaptop) {
        font-size: 14px !important;
    }

    @include breakpoint(lgmobile) {
        font-size: 13px !important;
    }

}

.header-content {
    .slogan {
        @include breakpoint(mobile) {
            font-size: 6rem !important;
            // top: 60vh !important;
        }

        @include breakpoint(smmobile) {
            top: 81vh !important;
        }
    }

    @include breakpoint(mobile) {
        margin-top: 8rem !important;


    }

    .header-text {
        .d-flex {
            @include breakpoint(tablet) {
                justify-content: flex-start !important;
            }

            @include breakpoint(mobile) {
                justify-content: flex-start !important;
            }

            @include breakpoint(smmobile) {
                justify-content: flex-start !important;
            }
        }
    }



    @include breakpoint(smmobile) {
        margin-top: 8rem !important;
    }
}

.homepage {
    .header-content {
        @include breakpoint(smmobile) {
            margin-top: 0 !important;
        }

    }
}

.installements-page,
.invoice-page,
.online-payment,
.payouts-page,
.sharelink-page,
.subscription-page {
    header {
        @include breakpoint(mobile) {
            height: auto !important;
            padding-bottom: 2rem !important;
            min-height: auto !important;
        }
    }
}

.installements-page {
    header {
        @include breakpoint(mobile) {
            padding-bottom: 6rem !important;
        }
    }
}