@media screen and (max-width: 1024px) {
  #opay-logo {
    width: 5rem;
  }

  .navbar {
    .nav-list {
      opacity: 0;
      visibility: hidden;
      display: none !important;
    }

    .menu-btn {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
}

/* Start Contact-us Page */
@media (max-width: 767px) {
  .contact-page {
    header {
      overflow: unset;

      &::before {
        display: none;
      }

      .header-content {
        margin-top: 8rem;

        .heading {
          h1 {
            font-size: 40px !important;
          }

          p {
            text-align: center !important;
            font-size: 30px !important;
          }
        }

        .content {
          h3 {
            font-size: 25px;
          }
        }
      }
    }

    /* Start contact-content Section */
    .contact-content {
      padding-top: 150px;

      .title {
        text-align: center;

        .icon {
          svg {
            width: 15%;
          }
        }
      }

      .content {
        text-align: center;

        p {
          width: 100%;
        }
      }

      address {
        text-align: center;
      }
    }

    /* End contact-content Section */
    /* Start contact-form Section */
    .contact-form {
      .heading {
        text-align: center;
      }

      .contact-footer {
        .title {
          text-align: center;
          font-size: 25px;
        }
      }
    }

    /* End contact-form Section */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-page {
    /* Start Header */
    header {
      overflow: unset;

      &::before {
        top: -50px;
      }

      .header-content {
        margin-top: 8rem;

        .heading {
          text-align: center;
        }

        .content {
          h3 {
            font-size: 25px;
          }

          p {
            font-size: 19px;
          }
        }
      }
    }

    /* End Header */
    /* Start contact-content Section */
    .contact-content {
      .title {
        .icon {
          svg {
            width: 8%;
          }
        }
      }

      .content {
        p {
          width: 100%;
          font-size: 24px;
        }
      }

      address {
        .title {
          .icon {
            svg {
              width: 13%;
            }
          }
        }
      }
    }

    /* End contact-content Section */
    /* Start contact-form Section */
    .contact-form {
      .heading {
        text-align: center;
      }

      .contact-footer {
        .title {
          text-align: center;
          font-size: 25px;
        }
      }
    }

    /* End contact-form Section */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-page {
    /* Start Header */
    header {
      .header-content {
        .heading {
          text-align: center;
        }

        .content {
          h3 {
            font-size: 25px;
          }

          p {
            font-size: 19px;
          }
        }
      }
    }

    /* End Header */
    /* Start contact-content Section */
    .contact-content {
      .title {
        .icon {
          svg {
            width: 5%;
          }
        }
      }

      .content {
        p {
          width: 100%;
          font-size: 24px;
        }
      }

      address {
        .title {
          .icon {
            svg {
              width: 13%;
            }
          }
        }
      }
    }

    /* End contact-content Section */
    /* Start contact-form Section */
    .contact-form {
      .heading {
        text-align: center;
      }

      .contact-footer {
        .title {
          text-align: center;
          font-size: 25px;
        }
      }
    }

    /* End contact-form Section */
  }
}

/* End Contact-us Page */

// /* Start Careers Page */
@media (max-width: 767px) {
  .careers-page {
    header {
      &::before {
        display: none;
      }

      .header-content {
        .heading {
          h1 {
            font-size: 30px;
          }

          p {
            &:first-of-type {
              font-size: 22px;
              text-align: center;
            }
          }
        }

        .content {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .careers-page {
    .features {
      padding-top: 800px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .careers-page {
    .features {
      margin-top: 300px;

      .feature {
        .title {
          font-size: 19px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .our-team {
    .head {
      h2 {
        font-size: 30px;
      }
    }

    .row {
      flex-direction: column-reverse;
    }

    .our-vacanies {
      font-size: 19px;

      .position {
        text-align: center;

        .title {
          font-size: 19px !important;
        }

        .location {
          font-size: 18px !important;
        }
      }

      a {
        padding: 0.375rem 0.75rem !important;
      }
    }

    .team-img {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .our-team {
    .row {
      flex-direction: column-reverse;
    }

    .our-vacanies {
      font-size: 19px;

      .position {
        text-align: center;
      }
    }

    .team-img {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  .careers-page {
    .join-team {
      .first-name {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .careers-page {
    .join-team {
      .head {
        p {
          font-size: 22px;
        }
      }
    }
  }
}

/* End Careers Page */

@media (max-width: 575px) {
  .s-dropdown {
    width: 54rem !important;
    height: auto;
    font-size: 13px !important;

    ul {
      flex-direction: column;
      align-items: flex-start !important;
      left: -1 !important;
      padding: 0 !important;
    }
  }
  .homepage {
    .txt-container {
      h2 {
        font-size: 1.5rem !important;
      }

      p {
        font-size: 0.9rem !important;
      }
    }

    .header-content {
      .swiper-slide {
        height: 90vh;
      }

      .my-order1 {
        order: 1;
      }

      .my-order2 {
        order: 2;
      }

      padding-top: 0 !important;

      .header-wrapper {
        display: flex;
        align-items: center !important;
        justify-content: center;
        flex-direction: column !important;
        margin-top: 2rem;
        padding: 1rem !important;

        h1 {
          font-size: 18px !important;
          line-height: 2rem !important;
          text-align: center !important;
        }

        &.change {
          p {
            text-align: center !important;
          }
        }

        &.S-change {
          p {
            text-align: center !important;
          }
        }
      }

      .img-container {
        width: 100%;
        height: 100%;

        .secure {
          position: absolute;
          top: 0.3rem;
          width: 43% !important;
        }

        .worldDotts {
          width: 43% !important;
        }

        img {
          position: relative;

          margin: auto !important;
          width: 65%;
        }
      }
    }

    header {
      .headerSlide {
        margin-top: -15rem !important;
      }
    }

    .slogan {
      font-size: 3.375rem;
      top: 365px;
    }

    .second_section {
      padding: 1rem !important;
      height: auto !important;
      position: relative;

      .my-order1 {
        order: 1;
      }

      .my-order2 {
        order: 2;
      }

      .img-con {
        width: 100%;
        opacity: 0.9;

        margin: auto !important;

        img {
          width: 100% !important;
        }
      }
    }

    .Third-section {
      padding: 1rem !important;

      .txt-container {
        margin-top: 1rem !important;

        margin: auto !important;
      }

      .img-con {
        margin-top: 2rem;
        padding-bottom: 2rem;
      }
    }

    .fourth-section {
      padding: 1rem;
      height: auto !important;

      .bg-section {
        position: absolute;
      }

      .txt-container {
        // margin-top: -64%;
        margin-top: 0 !important;
      }

      .img-con {
        margin: auto !important;
      }
    }

    .fifth-section {
      .txt-container {
        margin: 2rem 1rem;
      }
    }

    .six-section {
      padding: 1rem;

      .con-data {
        margin-top: -3rem !important;

        h2 {
          text-align: center !important;
        }
      }

      .img-container {
        margin: 0 auto !important;
      }
    }
  }

  .contact-page .contact-content {
    padding-top: 360px !important;
  }

  .pricing-page {
    padding-top: -1rem !important;

    .start-price {
      top: 0;
      margin: 0;
      padding: 1rem;

      .Sign-up {
        font-size: 0.6rem !important;
        margin: 0 auto;
      }

      .start-now-content .right-column .start-now-features {
        width: 100%;
        margin: auto;
      }

      .start-now-content .images-container img {
        width: 100%;
        margin: auto;
      }

      h1 {
        font-size: 15px;
      }

      .start-now-content {
        flex-direction: column;
      }
    }

    .flags .flags-data {
      flex-direction: column;
    }

    .pricing-data {
      h1 {
        font-size: 1rem;
      }

      h4 {
        margin-top: 0 !important;
        font-size: 0.75rem;
      }
    }

    .currency {
      padding: 1rem;

      .cards {
        padding: 1rem !important;
        flex-direction: column;

        font-size: 1rem;

        .card1,
        .card2 {
          padding: 1rem;
          width: auto;
          height: auto;
          margin: auto !important;
        }

        .card1-data,
        .card2-data {
          text-align: center;
        }
      }
    }
  }

  .payouts-page {
    .pay-header {
      padding: 1rem;
      margin-top: 5rem !important;

      h3 {
        font-size: 1.5rem;
      }
    }

    .payouts-options {
      padding: 0 1rem;
    }

    .make-money {
      padding: 1rem;
      text-align: center;

      .image-composition .v {
        bottom: -210px;
      }

      .image-composition .hr-1 {
        top: 255px;
        right: 120px;
      }

      .image-composition .hr-2 {
        top: 330px;
        right: 120px;
      }
    }
  }

  .careers-page {
    .about-company {
      .head {
        h2 {
          font-size: 25px;
        }
      }
    }

    .features {
      padding-top: 700px;

      h2 {
        font-size: 33px !important;
        padding-top: 3rem;
      }

      .feature {
        .title,
        p {
          text-align: center;
        }

        .title {
          font-size: 20px;
        }
      }
    }
  }

  .about-page {
    .about .about__header {
      text-align: center;
      padding: 1rem;
    }

    .partners {
      h2 {
        padding-top: 3.5rem !important;
      }
    }

    .mb-5 {
      margin-bottom: 0rem !important;
    }

    .mt-5 {
      margin-top: -1rem !important;
    }
  }
}


/* Start subscription Page  */
@media(max-width: 575px) {
  .subscription-page {
    header {
      .header-content {
        .header-content-data {
          .header-text {
            text-align: center !important;
            .payment-primaryTitle {
              font-size: 35px !important;
            }
          }
        }
      }
      .invoicing-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .invoice-header-image {
          width: 100%;
          margin: 0 auto;
        }

        .header-text {
          .invoice-content-text {
            font-size: 14px !important;
            text-align: center;
          }

          .header-image {
            margin: auto !important;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .subscription {
      padding: 1rem;
      align-items: center;
    }

    .btns {
      font-size: 0.6rem !important;
    }

    .txt-container {
      text-align: center;
      padding: 1rem;
      padding-bottom: 4rem;
    }
  }
}
/* End subscription Page  */

/* Start Installment Page  */
@media (max-width: 575px) {
  .installements-page {
    .header-content {
      padding: 1rem;
      text-align: center;
      .btns {
        margin: 0 auto !important;

        .Sign-up {
          margin: 0 !important;
          font-size: 0.6rem;
        }
      }
    }

    header .invoicing-header .invoice-content-header {
      font-size: 18px !important;
    }

    header .invoicing-header .invoice-content-text {
      font-size: 10px;
    }

    header .invoicing-header {
      flex-direction: column !important;
    }

    .installment {
      padding: 1rem;
      text-align: center;
      margin: 0 auto;

      .txt-container {
        padding-top: 1rem !important;
        h2 {
          font-size: 15px;
          & > span {
            span {
              font-size: 20px;
            }
          }
        }
        .btns {
          justify-content: center;
        }
      }

      .img-con img {
        width: 100% !important;
      }
    }

    .section-clients {
      padding: 1rem;
      justify-content: space-between !important;
      .primary-title {
        h3 {
          font-size: 2rem;
        }
      }

      .client-logo {
        width: 6rem !important;

        &.makeItSmall {
          width: 3rem !important;
        }

        svg {
          width: 90%;
          height: 90%;
        }

        img {
          width: 80%;
          height: 80%;
        }
      }
    }
    .Third-section {
      padding: 1rem;

      .txt-container {
        margin-top: 1rem;
        margin-left: 0;
        text-align: center;
        h2 {
          font-size: 1.2rem;
        }

        .txt-con-two {
          h6 {
            margin: 1rem !important;
          }
        }
      }
    }

    .client-finance {
      padding: 1rem;
      text-align: center !important;

      .txt-container,
      .txt-container2 {
        padding-top: 1rem;
        a {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .installements-page {
    header {
      .header-content-data {
        text-align: center;
        .links {
          justify-content: center;
        }
      }
    }
    .installment {
      .txt-container {
        text-align: center;
        .btns {
          justify-content: center;
        }
      }
    }
    .Third-section {
      .txt-container {
        text-align: center;
        .txt-con-two {
          justify-content: center;
        }
      }
    }
    .client-finance {
      .txt-container,
      .txt-container2 {
        text-align: center;
        a {
          font-size: 1.5rem !important;
        }
      }
      .img-con {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
@media(min-width: 768px) and (max-width: 1199px) {
  .installements-page {
    .Third-section {
      .row {
        align-items: center;
      }
      .img-con {
        margin-top: 0;
      }
      .txt-container {
        h2 {
          font-size: 1.6rem;
        }
      }
    }
    .client-finance {
      .row {
        align-items: center;
      }
      .txt-container,
      .txt-container2 {
        p {
          font-size: 16px;
        }
        a {
          font-size: 1.5rem !important;
        }
      }
      .img-con {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
        }
      }
    }
  }
}
/* End Installment Page  */
/* Start sharelink-page Page  */
@media (max-width: 767px) {
  .sharelink-page {
    .header-content {
      .header-content-data {
        .header-text {
          text-align: center;
        }
      }
    }
    .steps-section {
      .steps {
        .single-step {
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sharelink-page {
    .steps-section {
      .steps {
        .single-step {
          text-align: center;
        }
      }
    }
  }
}
/* End sharelink-page Page  */
/* Start invoice-page Page  */
@media (max-width: 767px) {
  .invoice-page {
    header {
      .header-content {
        text-align: center;
        .payment-primaryTitle {
          font-size: 25px;
        }
        .links {
          justify-content: center;
        }
      }
    }
    .start-now {
      margin: auto !important;
      padding: 1rem;
      padding-bottom: 5rem;
    }

    .start-now {
      h1 {
        width: 400px;
      }

      .start-now-content {
        .Sign-up {
          margin: 0 auto !important;
        }

        .images-container {
          padding-top: -3rem;

          .image1 {
            max-width: 120%;
            left: -4rem;
            position: relative;
          }

          .image2 {
            max-width: 60%;
            position: absolute;
            bottom: 18px;
            right: 20px;
          }
        }

        .right-column {
          .start-now-features {
            width: auto !important;
          }
        }
      }
    }

    .invoicing-header {
      padding: 1rem;

      img {
        max-width: 100%;
        padding-top: 2rem;
      }

      .invoice-content-text {
        text-align: center;
        font-size: 14px;
      }
    }

    header .invoicing-header .invoice-content-header {
      font-size: 20px;
      text-align: center;
    }

    .invoicing-content .features {
      padding: 1rem;
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
    }

    .start-now .start-now-content .images-container {
      padding: 4rem !important;
    }

    .start-now h1 {
      font-size: 20px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .invoice-page {
    header {
      .payment-primaryTitle {
        font-size: 20px !important;
      }
    }
    .start-now {
      h1 {
        width: 100%;
      }
      .right-column {
        .links {
          margin-left: 0 !important;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .invoice-page {
    .start-now {
      h1 {
        width: 70%;
      }
      .right-column {
        .links {
          margin-left: 0 !important;
        }
      }
    }
  }
}
/* End invoice-page Page  */
/* Start online-payment Page  */
@media (max-width: 991px) {
  .online-payment {
    align-items: center;
    header {
      align-items: center;
      text-align: center;
      .row {
        flex-direction: column-reverse;
      }
      h1 {
        font-size: 25px !important;
      }
      .links {
        justify-content: center;
      }
    }
  }
}
/* End online-payment Page */

/* Start online-payment */
@media (max-width: 575px) {
  .online-payment {
    .latest-technology {
      .img {
        &::before {
          display: none !important;
        }
      }
      .txt-container {
        h2 {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .online-payment {
    .latest-technology {
      .txt-container {
        p {
          text-align: center;
        }
        .Sign-up {
          font-size: 1rem !important;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .online-payment {
    .latest-technology {
      .img {
        &::before {
          left: -18px !important;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .online-payment {
    .latest-technology {
      .row {
        align-items: center;
      }
      .txt-container {
        h2 {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
/* End online-payment  */

/* Start choose-opay */
@media (max-width: 767px) {
  .choose-opay {
    .data {
      &.Clipboard,
      &.hourglass {
        border-right: none !important;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .choose-opay {
    .data {
      &.hourglass {
        border-right: none !important;
      }
      &.lock {
        img {
          max-width: 15% !important;
        }
      }
    }
  }
}
/* Start choose-opay */

/* Start Divid-Section */
@media (max-width: 767px) {
  .divide-section {
    .head {
      h1 {
        font-size: 27px;
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .divide-section {
    .steps {
      .item {
        h4 {
          font-size: 15px;
        }
      }
    }
  }
}
/* End Divid-Section */

/* Start Footer */
@media (max-width: 767px) {
  footer {
    .upper-footer {
      .solution,
      .support,
      .about,
      .contact-us {
        text-align: center;
        margin-bottom: 35px;
      }
    }
    .middle-footer {
      .content {
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        img {
          max-width: 40%;
        }
      }
    }
    .bottom-footer {
      .copyright {
        p {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 992px) and (max-width: 1199px) {
  footer {
    .bottom-footer {
      .selection {
        flex-direction: column;
        align-items: unset;
        margin-left: 30px;
        .lang {
          margin-left: 0;
        }
        .lang,
        .country {
          select {
            &.form-control {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
/* End Footer */
