<section class="divide-section text-center ">
    <h1 class="wow animate__animated animate__fadeInUp">ready to get started?</h1>
    <h4 class="wow animate__animated animate__fadeInUp">Only 3 Easy Steps! </h4>
  </section>

  
  <section class="seven-section">
    <div class="bg-steps"></div>
    <div class="container text-center ">
      <div class="row ">

        <div class="steps wow wow animate__animated animate__backInLeft" data-wow-delay="1.10s">
          <div class="">
            <div class="icon">
             01
            </div>
            <div class="sev-text">
              <h4>Create an account</h4>

            </div>

          </div>

          <div class="">
            <div class="icon">
              02


            </div>
            <div class="sev-text">
              <h4>Link your bank account</h4>

            </div>

          </div>


          <div class="">
            <div class="icon">

              03


            </div>
            <div class="sev-text">
              <h4>Start accepting payments</h4>
            </div>
          </div>

        </div>
        <div class="btns">
          <div class="Sign-up wow animate__animated animate__backInLeft" data-wow-delay="1.10s">Start Now</div>

          <div class="Sign-up sign-ch wow animate__animated animate__backInLeft" data-wow-delay="1.10s">Contact Us</div>
        </div>

      </div>
    </div>
  </section>
