.installements-page {
  header {
    height: auto !important;
    .row {
      align-items: center;
    }
    .bg {
      height: 100%;
    }

    .header-content {
      height: 100vh;
      .links {
        display: flex;
        align-items: center;
      }
      .main-title {
        color: #179070;
        font: 600 30px "Poppins", sans-serif;
        margin-bottom: 15px;
      }
      @include breakpoint(smlaptop) {
        display: flex;
        align-items: center;

        &-data {
          position: relative;

          @include breakpoint(smlaptop) {
            top: -3rem;
          }

          @include breakpoint(lgmobile) {
            top: 3rem !important;
            padding: 0 1rem;
          }
        }
      }

      @include breakpoint(lgmobile) {
        height: auto;
      }

      .payment-primaryTitle {
        color: #5a7184;
        font-weight: bold;

        span {
          color: #179070;
        }
      }

      p {
        color: #2c3e50;
        font: 400 20px "Poppins", sans-serif;
      }

      .header-image {
        @include breakpoint(lgmobile) {
          margin: 4rem auto;
        }

        img {
          width: 100%;
        }
      }
    }

    .invoicing-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 100%;
      }

      .header-text {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      p {
        color: #5a7184;
      }

      .invoice-content-header {
        text-transform: capitalize;
        font-weight: Bold;
        font-family: "Poppins", sans-serif;
        color: #5a7184;
        font-size: 36px;

        span {
          color: #179070;
        }
      }

      .invoice-content-text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 2px;
        color: #2c3e50;
        font-weight: 500;

        p {
          margin-bottom: 2px;
        }
      }
    }
  }

  .btns {
    text-decoration: none;
    color: #179070;
    padding-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .installment {
    margin-top: 5rem;
    .row {
      align-items: center;
    }
    .txt-container {
      padding-top: 5rem;

      h2 {
        color: #5a7184;
        font: 600 30px "Poppins", sans-serif;
        & > span {
          font: 500 22px "Poppins", sans-serif;
          span {
            font: 700 25px "Poppins", sans-serif;
          }
        }
      }

      p {
        font-size: 0.8rem;
        margin-top: 10px;
        font: 400 16px "Poppins", sans-serif;
        span {
          color: #179070;
          font-weight: bold;
          display: block;
        }
      }

      .btns {
        padding-left: 0;
        a {
          &:last-child {
            color: #179070;
            &:hover {
              color: #179070;
            }
          }
        }
      }
    }

    .img-con {
      width: 70%;
      margin: 3rem auto;
      img {
        width: 100%;
        opacity: 0.8;
      }
    }
  }

  .section-clients {
    padding: 30px 0;
    background-color: #fbfcfc;
    .section-clients-content {
      .client-logo {
        width: unset;

        img {
          max-width: 70%;
        }
      }
    }
  }

  .Third-section {
    background-color: #fff;
    height: auto !important;

    .txt-container {
      p {
        color: #2c3e50;
        font: 400 15px "Poppins", sans-serif;
        line-height: 30px;
      }
      h2 {
        span {
          font: 600 25px "Poppins", sans-serif;
          color: #5a7184;
        }
      }

      .txt-con-two {
        a {
          &:first-child {
            color: #fff;
          }
          &:last-child {
            color: #179070;
            margin: 2rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  .client-finance {
    padding-top: 5rem;

    .txt-container {
      padding-top: 4rem;

      h2 {
        color: #179070;
        font-weight: bold;
        font-size: 1.5rem;
      }

      p {
        font: 400 20px 'Poppins', sans-serif;;
        color: #5A7184;
      }

      .contact-sales {
        color: #179070;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;
      }
    }

    .img-con {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60%;
        height: 40%;
        opacity: 0.9;
      }
    }
  }

  .txt-container2 {
    margin-top: 3rem;

    h2 {
      color: #179070;
      font-weight: bold;
      font-size: 1.5rem;
    }

    p {
      font: 400 20px 'Poppins', sans-serif;;
      color: #5A7184;
    }

    .contact-sales {
      color: #179070;
      font-weight: bold;
      font-size: 1rem;

      text-decoration: none;
    }
  }

  .img-con {
    img {
      padding-left: -10rem;
    }
  }

  .divide-section {
    margin-top: 6rem;
  }

  .adjust-contactSales {
    margin-left: 3rem;
  }
}
