.payouts-page {
  p {
    color: #5a7184;
  }
  .row {
    align-items: center;
  }
  .main-title {
    color: #179070;
    font: 600 40px "Poppins", sans-serif;
  }
  .links {
    margin-top: 50px;
  }
  .header-content {
    h1 {
      font-size: 3rem;
      font-weight: 500;
    }
  }

  header {
    .bg {
      height: 100%;
    }

    .header-content {
      @include breakpoint(smlaptop) {
        display: flex;
        align-items: center;
        height: 100%;
        &-data {
          position: relative;

        }
      }

      .payment-primaryTitle {
        color: #5a7184;
        font: 600 50px "Poppins", sans-serif;

        span {
          color: #179070;
        }
      }

      p {
        color: #5a7184;
      }

      .header-image {
        @include breakpoint(lgmobile) {
          margin: 4rem auto;
        }

        img {
          width: 100%;
        }
      }
    }

    .invoicing-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 100%;
      }

      .header-text {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      p {
        color: #5a7184;
      }

      .invoice-content-header {
        text-transform: capitalize;
        font-weight: Bold;
        font-family: "Poppins", sans-serif;
        color: #5a7184;
        font-size: 36px;

        span {
          color: #179070;
        }
      }

      .invoice-content-text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 2px;
        color: #2c3e50;
        font-weight: 500;

        p {
          margin-bottom: 2px;
        }
      }
    }
  }

  .btns {
    text-decoration: none;
    color: #179070;
    padding-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .d-flex-custom {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 769px) {
      margin-top: 3rem;
    }
  }

  .option-section {
    padding: 60px 0;

    .payouts-options {
      h2 {
        margin-top: 3rem;
        font-size: 2.4rem;
        text-transform: capitalize;
        font-weight: 700;
        color: #5a7184 !important;
        span {
          color: #179070;
        }
      }

      p {
        font: 500 21px "Poppins", sans-serif;
        width: 750px;
        margin: auto;
        line-height: 40px;
      }
    }
    .options-content {
      display: flex;
      align-items: center;
      .option-img {
        flex-basis: 40%;
        .card-image {
          width: 100%;
        }
      }
      .options {
        flex-basis: 60%;
        text-align: center;
        padding: 20px 35px;
        border-radius: 15px;
        box-shadow: 0px 0px 11px 1px #0000004d;
        background-color: #fbfcfc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg {
            max-width: 80%;
          }
        }
        .links {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .make-money {
    background-color: #fbfcfc;
    min-height: 40rem;
    h2,
    h4 {
      font: 600 40px "Poppins", sans-serif;
    }
    p {
      color: #2c3e50;
      font: 500 21px "Poppins", sans-serif;
    }
    .image-composition {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        max-width: 50%;
        &.hr-1 {
          position: absolute;
          right: 170px;
          top: 115px;
        }
        &.hr-2 {
          position: absolute;
          right: 220px;
          top: 200px;
        }
      }
    }
  }

  .text-green {
    color: #179070;
  }

  .secured {
    font-size: 3rem;
  }

  .money-collection {
    font-weight: Bold;
    font-family: "Poppins", sans-serif;
    color: #5a7184;
    font-size: 36px;
  }

  .link {
    text-decoration: none;
    font-weight: bold;
  }

  .Sign-up {
    margin-right: 40px;
  }

  .options {
    .d-flex-custom {
      & > div {
        width: 100%;
      }
    }

    .options-container {
      justify-content: space-around;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          width: 70%;
        }
      }
    }
  }

  .link {
    &:hover {
      color: #179070;
    }
  }

  .font-weight-bold {
    font-weight: bold;
  }

  .text-green {
    color: #179070;
  }

  .text-gray {
    color: #5a7184;
  }

  .m0 {
    margin-top: 0 !important;
  }
}
