header {
    height: 100vh;
    .bg {
        height: 100%;
    }

    .h-full {
        height: 100%;
    }

    .shareable-links-header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -70px;



        .left-col {
            color: #5A7184;
            font-weight: 600;
            font-family: "Poppins", sans-serif;

            h1 {
                font-weight: bold;
                font-family: "Poppins", sans-serif;
                color: #5A7184;

                span {
                    color: #179070;
                }
            }

            p {
                font-size: 0.9rem;
                color: #2C3E50;
            }
        }

        .right-col {
            max-height: 40rem;

            .images-contaner {
                position: relative;
                top: 0;
                right: 0;


                .image1 {
                    position: relative;
                    top: 0;
                    left: 60px;
                    width: 100%;

                }

                .image2 {
                    position: absolute;
                    top: 150px;
                    left: 0;
                    width: 30%;

                }
            }
        }
    }
}


.steps-section {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 60px;

    h3 {
        color: #34495E;
        font-weight: 600;
        line-height: 40px;
        text-transform: capitalize;

        span {
            color: #179070;
        }
    }

    .steps {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .single-step {
            position: relative;
            margin: 5px 5px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 250px;
            padding: 50px 20px 20px 20px;
            box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 8px;
            position: relative;

            .icon {
                position: absolute;
                bottom: 0;
                left: 0;
                svg {
                    
                    opacity: 0.2;
                    z-index: -1;
                }
            }
            .step-data {
                z-index: 1;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    color: #34495E;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 14px;
                    flex: 1;
                }

                a {
                    text-decoration: none;
                    color: #179070;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;

                }
            }
        }

    }
}

.business-features-section {
    background-color: #5A7184;
    text-align: center;
    padding: 48px;

    h3 {
        color: white;
        font-weight: 600;
        margin-bottom: 32px;

        span {
            color: #1DCF9F;
            text-transform: uppercase;
        }
    }

    .business-features-content {
        display: flex;
        justify-content: center;
        color: white;
        height: 550px;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 16px;

            img {
                width: 100%;
                height: 400px;
                object-fit: contain;
            }

            p {
                font-weight: 500;

                span {
                    font-weight: 900;
                }
            }
        }



    }


}