.subscription-page {
  header .invoicing-header .invoice-header-image {
    width: 90%;
  }

  header {
    height: auto !important;
    // min-height: 100vh;

    .bg {
      height: 100%;
    }

    .header-content {

      @include breakpoint(smlaptop) {
        display: flex;
        align-items: center;

        &-data {

          // display: flex;
          // justify-content: center;
          position: relative;
          // align-items: center;

          @include breakpoint(smlaptop) {
            top: -3rem;
          }

          @include breakpoint(lgmobile) {
            top: 3rem !important;
            padding: 0 1rem;
          }
        }

      }

      @include breakpoint(lgmobile) {
        height: auto;
      }

      .payment-primaryTitle {
        color: #5a7184;
        font-weight: bold;

        span {
          color: #179070;
        }
      }

      p {
        color: #5a7184;
      }

      .header-image {
        width: 100%;
        max-width: 23rem;
        margin: 0 auto;

        @include breakpoint(lgmobile) {
          margin: 4rem auto;
          max-width: 18rem;
        }

        img {
          width: 100%;
        }
      }
    }

    .invoicing-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 100%;
      }

      .header-text {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      p {
        color: #5a7184;
      }

      .invoice-content-header {
        text-transform: capitalize;
        font-weight: Bold;
        font-family: "Poppins", sans-serif;
        color: #5a7184;
        font-size: 36px;

        span {
          color: #179070;
        }
      }

      .invoice-content-text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 2px;
        color: #2c3e50;
        font-weight: 500;

        p {
          margin-bottom: 2px;
        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .contact-sales {
      color: #179070;
      margin: 2rem;
      font-weight: bold;
      align-items: center;
    }
  }

  .btns {
    text-decoration: none;
    color: #179070;
    padding-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .subscription {
    margin-top: 3rem;

    h2 {
      color: #179070;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 1rem;
    }

    h4 {
      text-align: center;
      color: #dedfdf;
    }

    .txt-container {
      padding-top: 6rem;

      .title {
        font-size: 2rem;
        font-weight: 600;
      }

      .btns {
        padding-left: 0;
      }

      p {
        span {
          color: #179070;
          font-weight: bold;
        }
      }
    }

    .img-con {
      padding-top: 3rem;
      width: 100%;

      img {
        width: 70%;
        height: 40%;
        margin-left: 10rem;
      }
    }
  }

  .ready {
    margin-top: 5rem;

    h2 {
      color: #179070;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 1rem;
    }

    h4 {
      text-align: center;
      color: #dedfdf;
    }

    .txt-container {
      margin-top: 8rem;

      h3 {
        color: #5a7184;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
      }

      .contact {
        color: #fff;
        background-color: #179070;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 1.563rem;
        padding: 0.7rem 1.5rem;
      }
    }

    .img-con {
      padding-top: 3rem;
      width: 70%;

      img {
        width: 100%;
        height: 40%;
        margin-left: 5rem;
      }
    }
  }
}