.subscription-page {
  header .invoicing-header .invoice-header-image {
    width: 90%;
  }

  header {
    height: auto !important;
    .row {
      align-items: center;
    }
    .main-title {
      color: #179070;
      font: 600 40px "Poppins", sans-serif;
    }
    .links {
      display: flex;
      align-items: center;
    }
    .bg {
      height: 100%;
    }

    .header-content {
      @include breakpoint(smlaptop) {
        display: flex;
        align-items: center;

        &-data {
          position: relative;

          @include breakpoint(smlaptop) {
            top: -3rem;
          }

          @include breakpoint(lgmobile) {
            top: 3rem !important;
            padding: 0 1rem;
          }
        }
      }

      @include breakpoint(lgmobile) {
        height: auto;
      }

      .payment-primaryTitle {
        color: #5a7184;
        font: 700 51px "Poppins", sans-serif;

        span {
          color: #179070;
        }
      }

      p {
        color: #5a7184;
        font: 400 20px "Poppins", sans-serif;
      }

      .header-image {
        position: relative;
        .standard {
          position: absolute;
          left: 45px;
          top: 180px;
          max-width: 50%;
          z-index: 1;
        }
        .customizied {
          position: absolute;
          top: 200px;
          right: 20px;
          max-width: 50%;
        }

        @include breakpoint(lgmobile) {
          margin: 4rem auto;
          max-width: 18rem;
        }

        img {
          width: 100%;
        }
      }
    }

    .invoicing-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 100%;
      }

      .header-text {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      p {
        color: #5a7184;
      }

      .invoice-content-header {
        text-transform: capitalize;
        font-weight: Bold;
        font-family: "Poppins", sans-serif;
        color: #5a7184;
        font-size: 36px;

        span {
          color: #179070;
        }
      }

      .invoice-content-text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 2px;
        color: #2c3e50;
        font-weight: 500;

        p {
          margin-bottom: 2px;
        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .contact-sales {
      color: #179070;
      margin: 2rem;
      font-weight: bold;
      align-items: center;
    }
  }

  .btns {
    text-decoration: none;
    color: #179070;
    padding-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .subscription {
    margin-top: 3rem;

    h2 {
      color: #179070;
      text-align: center;
      padding-bottom: 1rem;
      font: 600 35px "Poppins", sans-serif;
    }

    h4 {
      text-align: center;
      color: #dedfdf;
      font: 600 30px "Poppins", sans-serif;
    }

    .txt-container {
      padding-top: 6rem;
      .title,
      p {
        font: 400 23px "Poppins", sans-serif;
        color: #2C3E50 !important;
      }
      .btns {
        padding-left: 0;
      }
    }

    .img-con {
      padding-top: 3rem;
      img {

        @include breakpoint(mobile) {
          width: 100% !important;
          margin: auto !important;
        }
      }
    }
  }

  .ready {
    margin-top: 5rem;
    .row {
      align-items: center;
    }
    h2 {
      color: #179070;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 1rem;
    }

    h4 {
      text-align: center;
      color: #dedfdf;
    }

    .txt-container {
      margin-top: 8rem;

      h3 {
        color: #5a7184;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
      }

      .contact {
        color: #fff;
        background-color: #179070;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 1.563rem;
        padding: 0.7rem 1.5rem;
      }
    }

    .img-con {
      padding-top: 3rem;
      position: relative;
      max-width: 50%;
      &::before {
        content: "";
        position: absolute;
        left: 50px;
        top: 30px;
        background-color: transparent;
        border-radius: 15px;
        border: 1px solid #71AA9A;
        width: 100%;
        height: 90%;
        z-index: -1;
      }
      img {
        width: 100%;
        height: auto;
        margin-left: 5rem;
        &.plan {
          position: absolute;
          right: -260px;
          bottom: 30px;
          max-width: 80%;
        }
      }
    }
  }
}
